@import "../../globals.scss";


form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 2em;
  background-color: rgba($color: #000000, $alpha: 0.2);
  padding: 20px;

  small {
    font-size: medium;
    color: red;
  }
}

.formEndStyle {
  background-color: color("background");
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.title {
}

.flex
{
  display: flex;
  align-items: space-between;
  justify-content: space-evenly;
}

.textFieldStyler {
  width: 90vw;
  margin-top: 40px;
  max-width: 65%;
}
.checkboxStyle{
  padding-right: 60px;
  
}
