@import "../../globals.scss";


form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 2em;
  background-color: rgba($color: #000000, $alpha: 0.2);
  padding: 20px;

  small {
    font-size: medium;
    color: red;
  }
}

.formEndStyle {
  background-color: color("background");
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.title {
  font-weight: 500;
  text-decoration: none;
  color: color("text-secondary");
  font-size: 14px;
}

.listElements {
  padding: 8px 8px;
}

.fbuttons {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 60px;
  padding: 0% 5% 15%;
}
.body {
  padding-bottom: 15vh;
  @include breakpoint(small) {
    padding-bottom: 6vh;
  }
}
.newFormButton {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1em;
  @include breakpoint(small) {
    display: none;
  }
}

.flex
{
  display: flex;
  align-items: space-between;
  justify-content: space-evenly;
}

.textFieldStyler {
  width: 90vw;
  margin-top: 40px;
  max-width: 65%;
}
.checkboxStyle{
  padding-right: 60px;
  
}


.containerdropdown{    
  width: 90vw;
}