@import "../../globals.scss";

.container-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 48px;
  padding-top: 2rem;
  @include breakpoint(small) {
    display: none;
  }
}
.searchform-filter {
  color: color("text-secondary");
  display: grid;
  grid-template-columns: 10% 90%;
  justify-items: center;
  align-items: center;
  border: 2px solid #c7c7c7a1;
  padding: 2px;
  width: 100%;
  background-color: white;
  gap: 1em 0;
  height: 49.5px;

  svg {
    fill: #929da5;
  }
  input:focus {
    outline: none; /* Quita el contorno por defecto */
  }
  img {
    color: color("text-secondary");
    height: 2em;
  }
  @include breakpoint(small) {
    img {
      height: 1.6em;
    }
  }
}

.searcher-filter {
  background-color: #ffff;
  font-size: 1.8em;
  justify-self: self-start;
  border-radius: 6%;
  border: 0px;
  width: 100%;
  @include breakpoint(small) {
    img {
      height: 1.6em;
    }
    font-size: 1.2em;
  }
}

.box-filter {
}
.sp-filter {
  margin-top: 8px;
}
