@import "../../globals.scss";

.container2 {
  text-decoration: none;
  color: color("text-secondary");
  font: "Lato";
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  @include breakpoint(small) {
    font-size: 12px;
  }
}
.card {
  background-color: color("background-light");
  width: 90%;
  padding: 5%;
  border-radius: 1rem;
  box-shadow: color("box-shadow") 0px 8px 24px;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}
.card-title {
  color: color("text-primary");
  font-style: normal;
  font-size: 26px;

  font-weight: 400;
  @include breakpoint(small) {
    font-size: 12px;
  }
}
.card-info {
  display: flex;
  justify-content: space-between;
  & .divider {
    width: 50%;
    border-right: solid 2px color("separator");
  }
}

.card-banner {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 18px;
  width: 20%;
  height: 100%;
  border-radius: 30px;
  @include breakpoint(small) {
    font-size: 10px;
  }

  &.PENDING {
    border: 1px solid orange;
    color: orange;
  }
  &.REJECTED {
    border: 1px solid red;
    color: red;
  }
  &.APPROVED {
    border: 1px solid rgb(0, 255, 30);
    color: rgb(0, 255, 30);
  }
  &.COMPLETED {
    border: 1px solid #4c2882;
    color: #4c2882;
  }
}

.flex-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.card-details {
  transform: translateY(10px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease,
    max-height 0.6s ease;
}

.card-details.collapsed {
  max-height: 0;
}

.card-details.expanded {
  max-height: 1000px;
  padding-bottom: 1rem;
  @include breakpoint(small) {
    max-height: 20rem;
  }
}

.button-container {
  padding: 10px 0;
}

.button-mobile {
  display: none;
  @include breakpoint(small) {
    display: flex;
  }
}

.button-desktop {
  @include breakpoint(small) {
    display: none;
  }
}
