@import "../../globals.scss";

.title {
  font-weight: 500;
  text-decoration: none;
  color: color("text-secondary");
  font-size: 14px;
}

.listElementsReactive {
  padding: 8px 8px;
}

.fbuttons {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 60px;
  padding: 0% 5% 15%;
}

.newFormButtonReactive {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1em;
  @include breakpoint(small) {
    display: none;
  }
}

.bodyReactive {
  padding-bottom: 15vh;
  @include breakpoint(small) {
    padding-bottom: 6vh;
  }
}
