@use "sass:color";
@import "./globals.scss";

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  background-color: color("background");
  overflow-x: hidden;
  flex: auto;
  flex-direction: column;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  box-sizing: border-box;
  margin: 0 auto 60px auto;
  width: 100%;
  max-width: 1500px;
}

main > article {
  padding: $padding $padding 80px $padding;
  box-sizing: border-box;
  overflow-x: hidden;
}

.desktop {
  display: none;
}
.mobile {
  display: flex;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: color("background-dark");
  border-radius: $radius;
}

::-webkit-scrollbar-thumb {
  background: color("scroll");
  border-radius: $radius;
}

::-webkit-scrollbar-thumb:hover {
  background: color.adjust($color: color("scroll"), $lightness: 3%);
}

@media screen and (min-width: 800px) {
  main {
    margin: 60px auto 0 auto;
  }

  .desktop {
    display: flex;
  }
  .lato-light {
    font: "Lato", sans-serif;
    font-style: normal;
  }

  .mobile,
  nav.mobile {
    display: none;
  }

  main > article {
    padding: $padding;
    box-sizing: border-box;
  }
}
