@import "../../globals.scss";

form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 2em;
  background-color: rgba($color: #000000, $alpha: 0.2);
  padding: 20px;
  border-radius: 5px;

  small {
    color: red;
  }



}
